* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(236, 238, 232);
}

h1 {
  color: rgb(41, 55, 36);
  font-family: Freckle Face, sans-serif;
  font-size: 300%;
}

.container {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20;
}

.banner {
  width: 100%;
  height: auto;
}
